@import "../../Scss/reset";
@import "../../Scss/vars";
@import "../../Scss/base";
@import "../../Scss/fonts";

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: $card-color;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.cardImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  margin-top: 50px;
  @include headers-font;
  font-size: 24px;
  text-align: center;
}
